---
title: "Studio123 — Une agence de création basée à Sudbury (Ontario) Canada"
description: "Studio123 est une agence de création ancrée dans le Nord de l’Ontario. Nous nous spécialisons dans les stratégies de communication, la conception de marque, le marketing électronique, la conception de site Web et d’applications, le design de documents imprimés, les stratégies de médias sociaux, la production audio et vidéo et la création de contenu."
---

- @body_class = 'page-home-fr'
- @page_class = ''



%header.header#header
  .header-content-wrap
    %article.header-content
      %h1.f-header-large--white.intro-text#intro-text 
        %span.is-bold Studio123, 
        %span fabrique d'émerveillements.
      %a.btn-main#intro-btn.intro-btn{:href=>"#about"}
        %span Découvrez comment


  .header-video-wrapper
    .video-overlay#video-overlay
    .video-overlay-two#video-overlay-two.is-hidden
    <video webkit-playsinline id="home-video--intro"class="home-video--intro" autoplay="autoplay" loop="true"><source src="../videos/123_bannervid.mp4" type="video/mp4" /><source src="../videos/123_bannervid.ogv" type="video/ogv"/><source src="../videos/123_bannervid.webm" type="video/webm"/><object type="application/x-shockwave-flash" data="flash/player.swf"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="flashvars" value="file=../videos/123_bannervid.mp4"><!--[if IE]><!--><param name="movie" value="flash/player.swf"><!--<![endif]--></object></video>


%section.l-module--max#about
  .l-container--narrow
    %h1.f-header-large
      Nous façonnons l’expérience communicationnelle de votre clientèle. Nous créons les images de marque qu’elle <span class="love">aime</span>, les pièces imprimées qu’elle <span class="touch">touche</span> et les plateformes numériques avec lesquelles elle <span class="interact">interagit</span>.

%section.l-module--max.darkgrey-bg

  .l-container--narrow.chart
    %span.chart-mask
    %img.icon-chart{:src=>"../img/chart.svg", :alt=> "Studio 123 Chart Icon"}
    %h1.f-header-large.mb-small Nous prenons notre travail au sérieux, sans nous prendre au sérieux. 
    %p.f-subhead Nous travaillons fort, nous jouons fort et nous jonglons souvent avec les deux en même temps. Einstein a dit : <span class="is-yellow">« Le jeu est la forme la plus élevée de la recherche. »</span> Le jeu allume la curiosité. Le jeu est ce qui évite de s’ennuyer et de devenir ennuyeux. Le jeu, c’est bon pour les affaires.




  .l-container  
    .three-col
      .img-wrap
        %img.icon-one{:src=>"../img/studio1.svg", :alt=> "Studio 123 Business Icon"}  
      %h2 Le bon design, c’est bon pour les affaires.
      %p Pour relever les défis du monde d’aujourd’hui, il faut des conceptions graphiques de qualité. Nous savons organiser les idées complexes sous forme d’outils simples et efficaces. Nous vous aiderons à organiser vos communications pour vous aider à atteindre vos objectifs et agrandir votre entreprise.

    .three-col
      .img-wrap
        %img.icon-two{:src=>"../img/studio2.svg", :alt=> "Studio 123 Collaboration Icon"} 
      %h2 La collaboration est notre façon de faire.
      %p Nous croyons que les meilleures réalisations naissent de la collaboration. Notre approche axée sur l’interaction entre notre équipe et la vôtre inspire tout ce que nous créons. L’aménagement physique de notre studio favorise la créativité et le design collaboratifs. La collaboration signifie que la preuve de notre succès, c’est votre succès.


    .three-col
      .img-wrap
        %img.icon-three{:src=>"../img/studio3.svg", :alt=> "Studio 123 Rules Icon"} 
      %h2 Osez sortir des sentiers battus.
      %p Les pratiques d’affaires sont souvent coulées dans le béton. Quand vos affaires vont assez bien, ça prend de l’audace pour apporter des améliorations nécessaires de sorte que tout fonctionne vraiment bien. Nous apportons un regard frais et objectif sur vos communications afin de vous recommander des solutions concrètes qui feront tourner des têtes et vous aideront à grandir.

  .l-container--wide
    %h2.service-header.f-header-large Voici ce que nous prenons grand plaisir à accomplir.
    %ul.services-list
      %li 
        %span Conception de marque
        %span.check
      %li 
        %span Design pour impression
        %span.check
      %li 
        %span Marketing électronique
        %span.check
      %li 
        %span Site web et Applications
        %span.check
      %li 
        %span Stratégie de communications
        %span.check
      %li 
        %span Stratégie de médias sociaux
        %span.check
      %li 
        %span Audio et vidéo
        %span.check
      %li 
        %span Création de contenu
        %span.check
      %br


  .l-container--wide.txt-center    
    %a.btn-main{:href=>"work.html"}
      %span Consultez notre portfolio




%section.l-module--spaced
  .l-container--wide
    .team-module
      %img.team-img{:src=>"../img/chris.gif", :alt=> "Chris Image"}  
      .team-content
        %h1.f-subhead <span class="is-bold">Christian Pelletier</span> est graphiste de jour, artiste communautaire de nuit et mélomane maniaque de vinyle tout le temps.
        %ul.nav-social.ss-icon
          %li
            <a href="https://twitter.com/nixian" target="blank">twitter</a>
          %li
            <a href="http://www.linkedin.com/profile/view?id=11782457&locale=en_US&trk=tyah&trkInfo=tas%3Achristian%2Cidx%3A2-1-2" target="blank">linkedin</a>    
          %li
            <a href="https://instagram.com/nixian" target="blank">instagram</a> 
          %li
            <a href="mailto:christian@studio123.ca" target="blank">email</a> 


    .team-module
      %img.team-img--right{:src=>"../img/nico.gif", :alt=> "Nico Image"}  
      .team-content--right
        %h1.f-subhead <span class="is-bold">Nico Taus</span> est graphiste végétarien, commentateur zen du monde des communications et punk sans tatouage.

        %ul.nav-social.ss-icon
          %li
            <a href="https://twitter.com/otvnico" target="blank">twitter</a>
          %li
            <a href="https://www.facebook.com/nico.taus.7?fref=ts" target="blank">facebook</a>
          %li
            <a href="http://www.linkedin.com/in/nicotaus" target="blank">linkedin</a>    
          %li
            <a href="mailto:nico@studio123.ca" target="blank">email</a> 



    .team-module
      %img.team-img{:src=>"../img/rob.gif", :alt=> "Rob Image"}  
      .team-content
        %h1.f-subhead <span class="is-bold">Rob Roy</span> est vidéaste à l’esprit communautaire et gestionnaire créatif et grand adepte de l'art du kickflip.

        %ul.nav-social.ss-icon
          %li
            <a href="https://twitter.com/robroy_123" target="blank">twitter</a>
          %li
            <a href="http://www.linkedin.com/profile/view?id=243705353&trk=nav_responsive_tab_profile" target="blank">linkedin</a>    
          %li
            <a href="http://instagram.com/yorbor" target="blank">instagram</a> 
          %li
            <a href="https://vimeo.com/robroyvideo" target="blank">vimeo</a> 
          %li
            <a href="mailto:rob@studio123.ca" target="blank">email</a> 









