---
title: "Studio 123 — A Creative Agency"
description: "Studio 123 is a creative design agency located in Northern Ontario, Canada. We specialize in: Communication strategy, Branding, Online marketing, Websites and apps, Print communication, Social media strategy, Audio and video, and Content creation"
---

- @body_class = 'page-home-fr'
- @page_class = ''



%header.header#header
  .header-content-wrap
    %article.header-content
      %h1.f-header-large--white.intro-text#intro-text 
        %span.is-bold Studio123 
        %span est une usine à merveilles.  
      %a.btn-main#intro-btn.intro-btn{:href=>"#about"}
        %span Find out how


  .header-video-wrapper
    .video-overlay#video-overlay
    .video-overlay-two#video-overlay-two.is-hidden
    <video webkit-playsinline id="home-video--intro"class="home-video--intro" autoplay="autoplay" loop="true"><source src="../videos/123_bannervid.mp4" type="video/mp4" /><source src="../videos/123_bannervid.ogv" type="video/ogv"/><source src="../videos/123_bannervid.webm" type="video/webm"/><object type="application/x-shockwave-flash" data="flash/player.swf"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="flashvars" value="file=../videos/123_bannervid.mp4"><!--[if IE]><!--><param name="movie" value="flash/player.swf"><!--<![endif]--></object></video>


%section.l-module--max#about
  .l-container--narrow
    %h1.f-header-large
      Nous créons des expériences complètes pour votre clientèle; des marques qu’elle <span class="love">aime</span>, aux pièces imprimés qu’elle <span class="touch">touche</span>, en passant par les univers digitaux dans lequel elle <span class="interact">intéragi</span>. Nous avons les outils pour attaquer tous vos besoins créatifs. 


%section.l-module--max.darkgrey-bg

  .l-container--narrow.chart
    %span.chart-mask
    %img.icon-chart{:src=>"../img/chart.svg", :alt=> "Studio 123 Chart Icon"}
    %h1.f-header-large.mb-small On travaille fort, on joue fort et on jongle souvent les deux. 
    %p.f-subhead Einstein a dit que <span class="is-yellow">« Le jeu est la forme la plus élevée de la recherche. »</span> Le jeu allume la curiosité. Le jeu est l’élément qui évite de s'ennuyer et de devenir ennuyeux. Le jeu est bon pour les affaires.



  .l-container  
    .three-col
      .img-wrap
        %img.icon-one{:src=>"../img/studio1.svg", :alt=> "Studio 123 Business Icon"}  
      %h2 Le bon design c’est bon pour les affaires.
      %p Un bon design est essentielle pour vaincre les défis d’aujourd’hui. Nous organisons des idées complexes dans des outils simples et remarquables qui travaillent pour vous. Nous allons vous aider à façonner vos communications pour vous aider à atteindre vos objectifs et grandir votre entreprise.

    .three-col
      .img-wrap
        %img.icon-two{:src=>"../img/studio2.svg", :alt=> "Studio 123 Collaboration Icon"} 
      %h2 La collaboration est le point commun.
      %p Nous croyons que les meilleures choses naissent de la collaboration. Notre approche favorise la collaboration entre notre équipe et la vôtre et inspire tout ce qu’on créé. Notre studio est doté d’un environnement qui favorise la créativité et le design collective. La collaboration veut dire qu’on réussissit quand vous réussissez. 


    .three-col
      .img-wrap
        %img.icon-three{:src=>"../img/studio3.svg", :alt=> "Studio 123 Rules Icon"} 
      %h2 Connais les règlements. Ensuite, oublie les règlements.
      %p On mets certaines contraintes dans nos horaires afin de mieux travailler. Puisque nous faisons notre meilleur travail créatif le matin, on prend des réunions que l’après-midi et évitons de vérifier nos bebelles électroniques avant 10h.

  .l-container--wide
    %h2.service-header.f-header-large Nos services
    %ul.services-list
      %li 
        %span Communication strategy 
        %span.check
      %li 
        %span Branding
        %span.check
      %li 
        %span Online marketing
        %span.check
      %li 
        %span Websites and apps
        %span.check
      %li 
        %span Print communication
        %span.check
      %li 
        %span Social media strategy
        %span.check
      %li 
        %span Audio and video 
        %span.check
      %li 
        %span Content creation
        %span.check
      %br


  .l-container--wide.txt-center    
    %a.btn-main{:href=>"work.html"}
      %span Nos travaille




%section.l-module--spaced
  .l-container--wide
    .team-module
      %img.team-img{:src=>"../img/chris.jpg", :alt=> "Chris Image"}  
      .team-content
        %h1.f-subhead <span class="is-bold">Christian Pelletier</span> is a graphic designer by day, community artist by night and disc jockey by accident.
        %ul.nav-social.ss-icon
          %li
            <a href="https://twitter.com/nixian" target="blank">twitter</a>
          %li
            <a href="http://www.linkedin.com/profile/view?id=11782457&locale=en_US&trk=tyah&trkInfo=tas%3Achristian%2Cidx%3A2-1-2" target="blank">linkedin</a>    
          %li
            <a href="https://instagram.com/nixian" target="blank">instagram</a> 
          %li
            <a href="mailto:christian@studio123.ca" target="blank">email</a> 


    .team-module
      %img.team-img--right{:src=>"../img/nico.jpg", :alt=> "Nico Image"}  
      .team-content--right
        %h1.f-subhead <span class="is-bold">Nico Taus</span> is a graphic designer, outspoken design columnist, vegetarian meditator and tattooless punk.
        %ul.nav-social.ss-icon
          %li
            <a href="https://twitter.com/otvnico" target="blank">twitter</a>
          %li
            <a href="https://www.facebook.com/nico.taus.7?fref=ts" target="blank">facebook</a>
          %li
            <a href="http://www.linkedin.com/in/nicotaus" target="blank">linkedin</a>    
          %li
            <a href="mailto:nico@studio123.ca" target="blank">email</a> 



    .team-module
      %img.team-img{:src=>"../img/rob.jpg", :alt=> "Rob Image"}  
      .team-content
        %h1.f-subhead <span class="is-bold">Rob Roy</span> is a motion picture creator, business manager and community-minded dude with a mean kickflip. 
        %ul.nav-social.ss-icon
          %li
            <a href="https://twitter.com/robroy_123" target="blank">twitter</a>
          %li
            <a href="http://www.linkedin.com/profile/view?id=243705353&trk=nav_responsive_tab_profile" target="blank">linkedin</a>    
          %li
            <a href="http://instagram.com/yorbor" target="blank">instagram</a> 
          %li
            <a href="https://vimeo.com/robroyvideo" target="blank">vimeo</a> 
          %li
            <a href="mailto:rob@studio123.ca" target="blank">email</a> 









