---
title: "Studio 123 — Portfolio"
description: "Portfolio de Studio123 des stratégies de communication, conceptions de marque, marketing électronique, conceptions de site Web et d’applications, design de documents imprimés, stratégies de médias sociaux, production audio et vidéo et création de contenu."
---

- @body_class = ''
- @page_class = ''



%header.header#header
  .header-content-wrap
    %article.header-content
      %h1.f-header-large#intro-text--alt.intro-text  Voici une petite sélection de nos moments d’émerveillement.



%section

  .l-module#portfolio
    %span.color-bar.yellow-bg
    %span.color-bar.red-bg
    %span.color-bar.blue-bg
    %img.img-half{:src=>"../img/portfolio/Desimone5.jpg", :alt=> "Portfolio Image"} 
    %img.img-half{:src=>"../img/portfolio/Desimone1.jpg", :alt=> "Portfolio Image"} 

  .l-module
    %img.img-third{:src=>"../img/portfolio/Desimone3.jpg", :alt=> "Portfolio Image"} 
    %img.img-third{:src=>"../img/portfolio/Desimone2.jpg", :alt=> "Portfolio Image"} 
    %img.img-third{:src=>"../img/portfolio/Desimone4.jpg", :alt=> "Portfolio Image"} 

  -# .l-module--img
  -#   %img.img-full{:src=>"img/portfolio/Desimone3.jpg", :alt=> "Portfolio Image"}

  .l-module
    %img.img-half{:src=>"../img/portfolio/rem1.jpg", :alt=> "Portfolio Image"} 
    %img.img-half{:src=>"../img/portfolio/rem2.jpg", :alt=> "Portfolio Image"} 
 
  .l-module
    .video-wrapper
      <iframe class="home-video youtube-player" type="text/html"  src="http://www.youtube.com/embed/6ovLOo2RxFU?&amp;rel=0&amp;title=0&amp;modestbranding=1&amp;showinfo=0&amp;byline=0&amp;portrait=0&amp;color=27a9e1&amp;autoplay=0&amp;autohide=1&amp;controls=0&amp;loop=1"" frameborder="0" allowfullscreen></iframe>


  .l-module
    %img.img-half{:src=>"../img/portfolio/reg1.jpg", :alt=> "Portfolio Image"} 
    %img.img-half{:src=>"../img/portfolio/reg2.jpg", :alt=> "Portfolio Image"} 


  .l-module
    %img.img-third{:src=>"../img/portfolio/phono.jpg", :alt=> "Portfolio Image"} 
    %img.img-third{:src=>"../img/portfolio/Phonophile2.jpg", :alt=> "Portfolio Image"} 
    %img.img-third{:src=>"../img/portfolio/phonophile1.jpg", :alt=> "Portfolio Image"} 

  .l-module
    %img.img-half{:src=>"../img/portfolio/Mews_Stationery.jpg", :alt=> "Portfolio Image"} 
    %img.img-half{:src=>"../img/portfolio/mug.jpg", :alt=> "Portfolio Image"} 

