---
title: "Studio 123 — Work"
description: "Studio 123 portfolio of Communication strategy, Branding, Online marketing, Websites and apps, Print communication, Social media strategy, Audio and video, and Content creation."
---

- @body_class = ''
- @page_class = ''



%header.header#header
  .header-content-wrap
    %article.header-content
      %h1.f-header-large#intro-text--alt.intro-text  Some of our favourite things we’ve made.


%section
  .l-module.txt-center#portfolio
    .l-container
      %img{:src=>"img/portfolio/carrefour-8.jpg", :alt=> "Portfolio Image"} 
  .l-module  
    %img.img-half-width{:src=>"img/portfolio/Desimone1.jpg", :alt=> "Portfolio Image"} 
    %img.img-half-width{:src=>"img/portfolio/Desimone2.jpg", :alt=> "Portfolio Image"} 
    %img.img-half-width{:src=>"img/portfolio/Desimone3.jpg", :alt=> "Portfolio Image"} 
    %img.img-half-width{:src=>"img/portfolio/Desimone4.jpg", :alt=> "Portfolio Image"} 

  .l-module--wide
    .l-container--wide
      .video-wrapper
        <iframe class="home-video" src="//www.youtube.com/v/6ovLOo2RxFU?&amp;title=0&amp;modestbranding=1&amp;showinfo=0&amp;byline=0&amp;portrait=0&amp;color=27a9e1&amp;autoplay=0&amp;autohide=1&amp;controls=0&amp;loop=1" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>






