%section.l-module--max.txt-center.contact#contact
  .l-container--wide
    %img.pin-img{:src=>"../img/pin.svg", :alt=> "Pin Image"} 
    %h1.f-header-large--white 
      Notre studio est situé dans un ancien bunker d’INCO dans une mine à 7 km sous le centre-ville de Sudbury. C’est pas vrai, mais on va annoncer l’ouverture de notre nouveau studio prochainement. 
  .l-container--wide    
    %a.btn-main{:href=>"http://www.twitter.com/studio123"}
      %span Restez à l’écoute.

