%section.l-module--max.txt-center.contact#contact
  .l-container--wide.contact-text
    %img.pin-img{:src=>"../img/pin.svg", :alt=> "Pin Image"} 
    %h1.f-header-large--white 
      Notre studio occupe un ancien bunker d’INCO dans une mine à 7 km sous le centre-ville de Sudbury. Bon, cela n’est pas du tout vrai, mais nous annoncerons l’ouverture de notre nouveau studio très bientôt.  

    %ul.nav-social.ss-icon
      %li
        <a href="http://twitter.com/studio123" class="link-white" target="blank">twitter</a>
      %li
        <a href="http://facebook.com/studio123ca" class="link-white" target="blank">Facebook</a> 
      %li
        <a href="http://instagram.com/studio123ca" class="link-white" target="blank">instagram</a> 
      %li
        <a href="http://plus.google.com/103608187595292623707" class="link-white" target="blank">google+</a> 
  .l-container--wide    
    %a.btn-main{:href=>"mailto:allo@studio123.ca"}
      %span Communiquer avec nous