%section.l-module--max.txt-center.contact#contact
  .l-container--wide.contact-text
    %img.pin-img{:src=>"../img/pin.svg", :alt=> "Pin Image"} 
    %h1.f-header-large--white 
      Notre studio est situé dans un ancien bunker d’INCO dans une mine à 7 km sous le centre-ville de Sudbury. C’est pas vrai, mais on va annoncer l’ouverture de notre nouveau studio prochainement. 

    %ul.nav-social.ss-icon
      %li
        <a href="https://twitter.com/nixian" class="link-white" target="blank">twitter</a>
      %li
        <a href="mailto:christian@studio123.ca" class="link-white" target="blank">Facebook</a> 
      %li
        <a href="http://www.linkedin.com/profile/view?id=11782457&locale=en_US&trk=tyah&trkInfo=tas%3Achristian%2Cidx%3A2-1-2"  class="link-white"target="blank">linkedin</a>    
      %li
        <a href="https://instagram.com/nixian" class="link-white" target="blank">instagram</a> 
  .l-container--wide    
    %a.btn-main{:href=>"http://www.twitter.com/studio123"}
      %span Restez à l’écoute.

