%section.l-module--max.txt-center.contact#contact
  .l-container--wide
    %img.pin-img{:src=>"img/pin.svg", :alt=> "Pin Image"} 
    %h1.f-header-large--white 
      Our studio is located in an abandoned Inco lunch room in an old mine 7 km under downtown Sudbury. That’s not true, but we will be announcing the opening of our new studio space very very soon. 
  .l-container--wide    
    %a.btn-main{:href=>"http://www.twitter.com/studio123"}
      %span Stay tuned

