%nav.nav-main
  .logo-wrap
    %a{:href=>"index.html"}
      %img.logo{:src=>"../img/studio123-logo.jpg", :alt=> "Studio 123 Logo"}
      %img.logo-gif{:src=>"../img/studio123.gif", :alt=> "Studio 123 Logo"} 


  %ul.nav-links
    %li  
      %a.nav-link{:href=>"work.html"}
        %span Portfolio
    %li  
      %a.nav-link--red#contact-link{:href=>"#contact"}
        %span Contact
    %li
      %a.nav-link--blue{:href=>"http://www.studio123ca.tumblr.com"}
        %span Blog
    %li
      %a.nav-link.en.lang{:href=>"#"}
        %span EN



