%nav.nav-main
  %img.logo{:src=>"img/studio123-logo.jpg", :alt=> "Studio 123 Logo"}  

  %ul.nav-links
    %li
      %a.nav-link{:href=>"#"}
        %span About
    %li  
      %a.nav-link--red{:href=>"#"}
        %span Work
    %li  
      %a.nav-link--blue{:href=>"#"}
        %span Contact


