---
title: "title"
description: "description"
---

- @body_class = 'page-home'
- @page_class = ''



%header.header
  .header-content-wrap
    %article.header-content
      %h1.header-large--white Studio123 is a wonder factory.

  .header-video-wrapper
    .video-overlay#video-overlay
    .video-overlay-two#video-overlay-two.is-hidden
    <video webkit-playsinline id="home-video--intro"class="home-video--intro" autoplay="autoplay" poster="img/video-poster2.png" loop="true"><source src="videos/123_bannervid.mp4" type="video/mp4" /><source src="videos/123_bannervid.oggtheora.ogg" type="video/ogg"/><source src="videos/123_bannervid.webmsd.webm" type="video/webm"/><object type="application/x-shockwave-flash" data="flash/player.swf"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="flashvars" value="file=videos/123_bannervid.mp4"><!--[if IE]><!--><param name="movie" value="flash/player.swf"><!--<![endif]--><img src="img/video-poster2.jpg" width="1389" height="614" alt="Video"></object></video>


%section.l-module--spaced
  .l-container
    %h1 Hello World
    %p What the fuck is up?