---
title: "Studio 123 — A Creative Agency"
description: "Studio 123 is a creative design agency located in Northern Ontario, Canada. We specialize in: Communication strategy, Branding, Online marketing, Websites and apps, Print communication, Social media strategy, Audio and video, and Content creation"
---

- @body_class = 'page-home'
- @page_class = ''



%header.header#header
  .header-content-wrap
    %article.header-content
      %h1.f-header-large--white.intro-text#intro-text 
        %span.is-bold Studio123 
        %span is a wonder factory.  
      %a.btn-main#intro-btn.intro-btn{:href=>"#about"}
        %span Find out how


  .header-video-wrapper
    .video-overlay#video-overlay
    .video-overlay-two#video-overlay-two.is-hidden
    <video webkit-playsinline id="home-video--intro"class="home-video--intro" autoplay="autoplay" loop="true"><source src="videos/123_bannervid.mp4" type="video/mp4" /><source src="videos/123_bannervid.ogv" type="video/ogv"/><source src="videos/123_bannervid.webm" type="video/webm"/><object type="application/x-shockwave-flash" data="flash/player.swf"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="flashvars" value="file=videos/123_bannervid.mp4"><!--[if IE]><!--><param name="movie" value="flash/player.swf"><!--<![endif]--><img src="img/video-poster2.jpg" width="1389" height="614" alt="Video"></object></video>


%section.l-module--max#about
  .l-container--narrow
    %h1.f-header-large
      We create the customer experience — from the brand you <span class="love">love</span>, to the marketing pieces you <span class="touch">touch</span>, to the digital world where you <span class="interact">interact.</span> We have the toolbox to tackle all your creative needs.


%section.l-module--max.darkgrey-bg

  .l-container--narrow.chart
    %span.chart-mask
    %img.icon-chart{:src=>"img/chart.svg", :alt=> "Studio 123 Chart Icon"}
    %h1.f-header-large.mb-small Take your work seriously, not yourself.
    %p.f-subhead We believe in working hard, playing hard, and often blending the two. Einstein said that "Play is the highest form of research." Play sparks exploration. Play keeps us from getting bored and boring. Play is good for business.


  .l-container  
    .three-col
      .img-wrap
        %img.icon-one{:src=>"img/studio1.svg", :alt=> "Studio 123 Business Icon"}  
      %h2 Good design is good for business.
      %p Good design is essential to overcome today’s challenges. We organize complex ideas into simple, beautiful tools that work for you. We will help you craft your communications to help grow your business and reach your goals.

    .three-col
      .img-wrap
        %img.icon-two{:src=>"img/studio2.svg", :alt=> "Studio 123 Collaboration Icon"} 
      %h2 Collaboration is the common thread.
      %p We believe that the best things stem from collaboration. Studio123's approach fosters collaboration between our team and our yours and drives everything we create. Even our physical studio space is conducive to team-oriented creativity and design. Collaboration means that we succeed when you succeed. 


    .three-col
      .img-wrap
        %img.icon-three{:src=>"img/studio3.svg", :alt=> "Studio 123 Rules Icon"} 
      %h2 Know the rules. Have fun breaking them.
      %p In order for us to do our best work, we have set up some boundaries. Since we do our best creative work in the mornings, we only schedule meetings in the afternoons and and do our best to avoid email and other things electronic before 10 AM.

  .l-container--wide
    %h2.service-header.f-header-large Here's what we love to do
    %ul.services-list
      %li Communication strategy
      %li Branding
      %li Online marketing
      %li Websites and apps
      %li Print communication
      %li Social media strategy
      %li Audio and video 
      %li Content creation
      %br


  .l-container--wide.txt-center    
    %a.btn-main{:href=>"work.html"}
      %span See our work




%section.l-module--spaced
  .l-container--wide
    .team-module
      %img.team-img{:src=>"img/chris.jpg", :alt=> "Chris Image"}  
      .team-content
        %h1.f-subhead <span class="is-bold">Christian Pelletier</span> is a graphic designer by day, community artist by night and disc jockey by accident.
        %ul.nav-social.ss-icon
          %li
            <a href="http://www.twitter.com/bureaugroup" target="blank">twitter</a>
          %li
            <a href="http://www.linkedin.com/company/2904088" target="blank">linkedin</a>    
          %li
            <a href="http://www.instagram.com/bureaugroup" target="blank">instagram</a> 
          %li
            <a href="mailto:christian@studio123.ca" target="blank">email</a> 


    .team-module
      %img.team-img--right{:src=>"img/nico.jpg", :alt=> "Nico Image"}  
      .team-content--right
        %h1.f-subhead <span class="is-bold">Nico Taus</span> is a graphic designer, outspoken design columnist, vegetarian meditator and tattooless punk.
        %ul.nav-social.ss-icon
          %li
            <a href="http://www.twitter.com/bureaugroup" target="blank">twitter</a>
          %li
            <a href="http://www.facebook.com/bureaugroup" target="blank">facebook</a>
          %li
            <a href="http://www.linkedin.com/company/2904088" target="blank">linkedin</a>    
          %li
            <a href="mailto:nico@studio123.ca" target="blank">email</a> 

    .team-module
      %img.team-img{:src=>"img/rob.jpg", :alt=> "Rob Image"}  
      .team-content
        %h1.f-subhead <span class="is-bold">Rob Roy</span> is a motion picture creator, business manager and community-minded dude with a mean kickflip. 
        %ul.nav-social.ss-icon
          %li
            <a href="http://www.twitter.com/bureaugroup" target="blank">twitter</a>
          %li
            <a href="http://www.linkedin.com/company/2904088" target="blank">linkedin</a>    
          %li
            <a href="http://www.instagram.com/bureaugroup" target="blank">instagram</a> 
          %li
            <a href="http://www.instagram.com/bureaugroup" target="blank">vimeo</a> 
          %li
            <a href="mailto:rob@studio123.ca" target="blank">email</a> 







%section.l-module--max.txt-center.contact#contact
  .l-container--wide
    %img.pin-img{:src=>"img/pin.svg", :alt=> "Pin Image"} 
    %h1.f-header-large--white 
      Our studio is located in an abandoned Inco lunch room in an old mine 7 km under downtown Sudbury. That’s not true, but we will be announcing the opening of our new studio space very very soon. 
  .l-container--wide    
    %a.btn-main{:href=>"http://www.twitter.com/studio123"}
      %span Stay tuned








