---
title: "Studio123 — A Creative Agency located in Sudbury, Ontario, Canada"
description: "Studio 123 is a creative design agency located in Northern Ontario, Canada. We specialize in: Communication strategy, Branding, Online marketing, Websites and apps, Print communication, Social media strategy, Audio and video, and Content creation"
---

- @body_class = 'page-home'
- @page_class = ''



%header.header#header
  .header-content-wrap
    %article.header-content
      %h1.f-header-large--white.intro-text#intro-text 
        %span.is-bold Studio123 
        %span is a wonder factory.  
      %a.btn-main#intro-btn.intro-btn{:href=>"#"}
        %span Find out how


  .header-video-wrapper
    .video-overlay#video-overlay
    .video-overlay-two#video-overlay-two.is-hidden
    <video webkit-playsinline id="home-video--intro"class="home-video--intro" autoplay="autoplay" loop="true"><source src="videos/123_bannervid.mp4" type="video/mp4" /><source src="videos/123_bannervid.ogv" type="video/ogv"/><source src="videos/123_bannervid.webm" type="video/webm"/><object type="application/x-shockwave-flash" data="flash/player.swf"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="flashvars" value="file=videos/123_bannervid.mp4"><!--[if IE]><!--><param name="movie" value="flash/player.swf"><!--<![endif]--></object></video>


%section.l-module--max#about
  .l-container--narrow
    %h1.f-header-large
      We create the customer experience — from the brand they <span class="love">love</span>, and the marketing pieces they <span class="touch">touch</span>, to the digital world where they <span class="interact">interact</span>. We have the toolbox to tackle all your creative needs.


%section.l-module--max.darkgrey-bg

  .l-container--narrow.chart
    %span.chart-mask
    %img.icon-chart{:src=>"img/chart.svg", :alt=> "Studio 123 Chart Icon"}
    %h1.f-header-large.mb-small Take your work seriously, not yourself.
    %p.f-subhead We believe in working hard, playing hard, and blending the two often. Einstein said, <span class="is-yellow">“Play is the highest form of research.”</span> Play sparks exploration. Play keeps us from getting bored and boring. Play is good for business.


  .l-container  
    .three-col
      .img-wrap
        %img.icon-one{:src=>"img/studio1.svg", :alt=> "Studio 123 Business Icon"}  
      %h2 Good design is good for business.
      %p Good design is essential to overcome today’s challenges. We organize complex ideas into simple, beautiful tools that work for you. We will help you craft your communications to help grow your business and reach your goals.

    .three-col
      .img-wrap
        %img.icon-two{:src=>"img/studio2.svg", :alt=> "Studio 123 Collaboration Icon"} 
      %h2 Collaboration is the common thread.
      %p We believe that the best things stem from collaboration. Our approach fosters collaboration between our team and yours and drives everything we create. Even our physical studio space is conducive to team-oriented creativity and design. Collaboration means that we succeed when you succeed. 


    .three-col
      .img-wrap
        %img.icon-three{:src=>"img/studio3.svg", :alt=> "Studio 123 Rules Icon"} 
      %h2 Know the rules. Have fun breaking them.
      %p Business practices are often carved in stone. It takes guts to make something that already works well, work better. We provide a fresh and objective view of your advertising efforts and make concrete recommendations that will turn heads and help you grow.

  .l-container--wide
    %h2.service-header.f-header-large Here’s what we love to do
    %ul.services-list
      %li 
        %span Communication strategy 
        %span.check
      %li 
        %span Branding
        %span.check
      %li 
        %span Online marketing
        %span.check
      %li 
        %span Websites and apps
        %span.check
      %li 
        %span Print communication
        %span.check
      %li 
        %span Social media strategy
        %span.check
      %li 
        %span Audio and video 
        %span.check
      %li 
        %span Content creation
        %span.check
      %br


  .l-container--wide.txt-center    
    %a.btn-main{:href=>"work.html"}
      %span See our work




%section.l-module--spaced
  .l-container--wide
    .team-module
      %img.team-img{:src=>"img/chris.jpg", :alt=> "Chris Image", }  
      .team-content
        %h1.f-subhead <span class="is-bold">Christian Pelletier</span> is a graphic designer by day, community artist by night and disc jockey by accident.
        %ul.nav-social.ss-icon
          %li
            <a href="https://twitter.com/nixian" target="blank">twitter</a>
          %li
            <a href="http://www.linkedin.com/profile/view?id=11782457&locale=en_US&trk=tyah&trkInfo=tas%3Achristian%2Cidx%3A2-1-2" target="blank">linkedin</a>    
          %li
            <a href="https://instagram.com/nixian" target="blank">instagram</a> 
          %li
            <a href="mailto:christian@studio123.ca" target="blank">email</a> 


    .team-module
      %img.team-img--right{:src=>"img/nico.jpg", :loop=>"infinite", :alt=> "Nico Image"}  
      .team-content--right
        %h1.f-subhead <span class="is-bold">Nico Taus</span> is a graphic designer, outspoken design columnist, vegetarian meditator and tattooless punk.
        %ul.nav-social.ss-icon
          %li
            <a href="https://twitter.com/otvnico" target="blank">twitter</a>
          %li
            <a href="https://www.facebook.com/nico.taus.7?fref=ts" target="blank">facebook</a>
          %li
            <a href="http://www.linkedin.com/in/nicotaus" target="blank">linkedin</a>    
          %li
            <a href="mailto:nico@studio123.ca" target="blank">email</a> 



    .team-module
      %img.team-img{:src=>"img/rob.jpg", :alt=> "Rob Image"}  
      .team-content
        %h1.f-subhead <span class="is-bold">Rob Roy</span> is a motion picture creator, business manager and community-minded dude with a mean kickflip. 
        %ul.nav-social.ss-icon
          %li
            <a href="https://twitter.com/robroy_123" target="blank">twitter</a>
          %li
            <a href="http://www.linkedin.com/profile/view?id=243705353&trk=nav_responsive_tab_profile" target="blank">linkedin</a>    
          %li
            <a href="http://instagram.com/yorbor" target="blank">instagram</a> 
          %li
            <a href="https://vimeo.com/robroyvideo" target="blank">vimeo</a> 
          %li
            <a href="mailto:rob@studio123.ca" target="blank">email</a> 









