---
title: "Studio 123 — Work"
description: "Studio 123 portfolio of Communication strategy, Branding, Online marketing, Websites and apps, Print communication, Social media strategy, Audio and video, and Content creation."
---

- @body_class = ''
- @page_class = ''



%header.header#header
  .header-content-wrap
    %article.header-content
      %h1.f-header-large#intro-text--alt.intro-text  Some of our favourite things we’ve made.


%section.l-module.txt-center#portfolio
  .l-container
    %img{:src=>"img/portfolio/carrefour-8.jpg", :alt=> "Pin Image"} 
    %img{:src=>"img/portfolio/birdkingdom_2.jpg", :alt=> "Pin Image"} 
  .l-container--wide  
    %img{:src=>"img/portfolio/cpg_1.jpg", :alt=> "Pin Image"} 
  .l-container--wide    
    %img{:src=>"img/portfolio/cpg_2.jpg", :alt=> "Pin Image"} 
  .l-container--wide
    %img{:src=>"img/portfolio/cpg_3.jpg", :alt=> "Pin Image"} 
    %img{:src=>"img/portfolio/cpg_5.jpg", :alt=> "Pin Image"} 












