---
title: "Studio 123 — Work"
description: "Studio 123 portfolio of Communication strategy, Branding, Online marketing, Websites and apps, Print communication, Social media strategy, Audio and video, and Content creation."
---

- @body_class = ''
- @page_class = ''



%header.header#header
  .header-content-wrap
    %article.header-content
      %h1.f-header-large#intro-text--alt.intro-text  Our work

%section.l-module.txt-center#portfolio
  .l-container
    %img{:src=>"img/portfolio/carrefour-8.jpg", :alt=> "Pin Image"} 
    %img{:src=>"img/portfolio/birdkingdom_2.jpg", :alt=> "Pin Image"} 
  .l-container--wide  
    %img{:src=>"img/portfolio/cpg_1.jpg", :alt=> "Pin Image"} 
  .l-container--wide    
    %img{:src=>"img/portfolio/cpg_2.jpg", :alt=> "Pin Image"} 
  .l-container--wide
    %img{:src=>"img/portfolio/cpg_3.jpg", :alt=> "Pin Image"} 
    %img{:src=>"img/portfolio/cpg_5.jpg", :alt=> "Pin Image"} 










%section.l-module--max.txt-center.contact#contact
  .l-container--wide
    %img.pin-img{:src=>"img/pin.svg", :alt=> "Pin Image"} 
    %h1.f-header-large--white 
      Our studio is located in an abandoned Inco lunch room in an old mine 7 km under downtown Sudbury. That’s not true, but we will be announcing the opening of our new studio space very very soon. 
  .l-container--wide    
    %a.btn-main{:href=>"http://www.twitter.com/studio123"}
      %span Stay tuned








