.l-module, %l-module
  width: 100%
  vertical-align: top
  overflow: hidden

.l-module--img
  @extend %l-module
  line-height: 0

.l-module--spaced
  @extend %l-module
  padding: $l-l 0
  @media only screen and (min-width: $second-break)
    padding: $l-xxl 0


.l-module--max
  @extend %l-module
  padding: $l-l 0
  @media only screen and (min-width: $second-break)
    padding: $l-xxl*2 0

.l-module--wide
  @extend %l-module
  padding: $l-m 0
  @media only screen and (min-width: $second-break)
    padding: $l-xl 0


.l-container, %l-container
  width: 90%
  max-width: 1280px
  margin: 0 auto
  display: block
  overflow: hidden

.overflow
  overflow: visible !important

.l-container--thin
  @extend %l-container
  padding: $l-s

.l-container--wide
  @extend %l-container
  padding: $l-s
  @media only screen and (min-width: $second-break)
    padding: $l-l

.l-container--narrow
  @extend .l-container--wide
  max-width: 800px  

.l-container--list
  @extend %l-container
  width: 95% 
  max-width: 1353px
.l-container--full
  @extend %l-container
  width: 100%
  max-width: 90%
  @media only screen and (min-width: $second-break)
    max-width: 90%

.pulled-up
  +translateY(-3em)
  +single-transition(all, 0.5s, ease-out, 0.5)

#portfolio
  margin-bottom: -3em

.yellow-bg
  background: $c-yellow
  h1, h2, h3, h4, p
    color: white


.red-bg
  background: $c-red
  h1, h2, h3, h4, p
    color: white


.blue-bg
  background: $c-blue
  h1, h2, h3, h4, p
    color: white    


.grey-bg
  background: $c-grey
  h1, h2, h3, h4, p
    color: white
.darkgrey-bg
  background: $c-darkgrey
  h1, h2, h3, h4, p
    color: white


.border-bottom
  border-bottom: 1px solid $c-grey
.border-top
  border-top: 1px solid $c-grey  

.two-thirds
  width: 100%
  @media only screen and (min-width: $second-break)
    width: 60%

.one-third
  width: 100%
  @media only screen and (min-width: $second-break)
    width: 30%  

.one-half
  width: 100%
  @media only screen and (min-width: $second-break)
    width: 50%  

.txt-center
  text-align: center


.fl
  float: left

.fr
  float: right

.mb-small
  margin-bottom: 0.2em



.three-col
  width: 100%
  margin-top: $l-xxl
  h2
    padding-bottom: $l-s / 1.8
  @media only screen and (min-width: $second-break)
    width: 32%
    vertical-align: top
    display: inline-block
    padding: 3%
    text-align: left
    margin-top: 0
  @media only screen and (min-width: $third-break)
    width: 33%
    h2
      width: 70%


.contact-text
  max-width: 1060px

.img-half
  width: 50%
  float: left

.img-full
  width: 100%

.img-third
  width: 33.333%
  float: left
