.nav-main
  position: absolute
  z-index: 100
  width: 100%
  top: -100px
  @media only screen and (min-width: $second-break)
    padding: 0 5%

.show-nav
  +single-transition(all, 0.4s, ease-out)
  top: 0

.no-js
  .nav-main
    top: 0

.logo-wrap
  width: 60px
  position: relative
  float: left
  @media only screen and (min-width: $second-break)
    width: 70px

.logo
  width: 60px
  @media only screen and (min-width: $second-break)
    width: 70px


.logo-gif
  width: 60px
  position: absolute
  +opacity(0)
  z-index: 10
  top: 0
  +single-transition(opacity, 0.2s, ease-out)
  &:hover, &:focus
    +opacity(1)
  @media only screen and (min-width: $second-break)
    width: 70px



.nav-links
  float: right
  padding-right: 5%
  @media only screen and (min-width: $second-break)
    padding-right: 0
  li
    +inline-block
    padding: $l-m $l-s/2
    @media only screen and (min-width: $second-break)
      padding: $l-m $l-s

a.nav-link, a.nav-link:visited, %nav-link
  color: $c-darkgrey
  text-transform: uppercase
  font-size: $f-s*0.95
  +single-transition(all, 0.2s, ease-out)
  &:hover, &:focus
    color: $c-yellow

a.nav-link--red, a.nav-link--red:visited
  @extend %nav-link
  color: $c-darkgrey
  &:hover, &:focus
    color: $c-red

a.nav-link--blue, a.nav-link--blue:visited
  @extend %nav-link
  color: $c-darkgrey
  &:hover, &:focus
    color: $c-blue


.page-home, .page-home-fr
  a.nav-link, a.nav-link:visited, %nav-link
    color: white
    text-transform: uppercase
    font-size: $f-s*0.95
    +single-transition(all, 0.2s, ease-out)
    &:hover, &:focus
      color: $c-yellow

  a.nav-link--red, a.nav-link--red:visited
    @extend %nav-link
    &:hover, &:focus
      color: $c-red

  a.nav-link--blue, a.nav-link--blue:visited
    @extend %nav-link
    &:hover, &:focus
      color: $c-blue