#{headings(all)}
  +heading-bold


p
  +body-normal

.f-header-large--white
  color: white
  font-weight: 100
  font-size: $f-xl

.f-header-large
  font-weight: 100
  font-size: $f-xl 


.is-bold
  font-weight: 400

.is-yellow
  color: $c-yellow

.is-red
  color: $c-red

.is-blue
  color: $c-blue    